<div class="col-sm-9 col-md-9 col-lg-9">
    <#if (((pageBean.list)??) && (((pageBean.list)?size) > 0))>
        <#list pageBean.list as article>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="${yiyi}/article/detail?id=${(article.id)?c}" title="${(article.title)!}" class="article-list-title">
                        <#assign title=(article.title!"")>
                            <#if title?length &lt; 28>
                                ${title}
                                <#else>
                                    ${title?substring(0,28)}...
                            </#if>
                    </a>
                    <#if (article.createDate)??>
                        <span class="article-create-date">${(article.createDate)?number_to_datetime}</span>
                    </#if>
                </div>
                <div class="panel-body article-panel-body">
                    <#assign context=(article.context!"")>
                    <#if context?length &lt; 220>
                        ${context}
                        <#else>
                            ${context?substring(0,220)} ...<a href="${yiyi}/article/detail?id=${(article.id)?c}">查看更多</a>
                    </#if>
                </div>
            </div>
        </#list>
    </#if>
    <#if (pageBean.totalCount > 0)>
        <nav aria-label="...">
            <ul class="pager">
                <#if (pageBean.pageCurrent == 1)>
                    <li class="previous disabled"><a><i class="fa fa-angle-double-left"></i> 上一页</a></li>
                    <#else>
                        <li class="previous"><a href="/search?pageCurrent=${pageBean.pageCurrent - 1}&search=${search!}"><i class="fa fa-angle-double-left"></i> 上一页</a></li>
                </#if>

                <#if (pageBean.pageTotal <= pageBean.pageCurrent)>
                <li class="next disabled"><a>下一页 <i class="fa fa-angle-double-right"></i></a></li>
                <#else>
                    <li class="next"><a href="/search?pageCurrent=${pageBean.pageCurrent + 1}&search=${search!}">下一页 <i class="fa fa-angle-double-right"></i></a></li>
    </#if>
    </ul>
    </nav>
    <#else>
        <div class="text-center" style="margin-top: 70px;color: #cdcdcd">
            <h1>未找到文章</h1>
        </div>
        </#if>
</div>