<style>

    .book-menu-header {
        background-color: black;
        z-index: 99;
        position: fixed;
        height: 100px;
        top: 0;
        width: 100%;
        color: #DDDDDD;
        line-height: 40px;
        height: 40px;
        font-size: 20px;
        left:0;
    }

    .book-menu-header a {
        color: #DDDDDD;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
    }

    .book-menu-footer {
        background-color: black;
        color: #DDDDDD;
        z-index: 99;
        position: fixed;
        height: 100px;
        bottom: 0;
        width: 100%;
        font-size: 20px;
        line-height: 40px;
        height: 40px;
        left:0;
    }

    #book_menu {
        display: none;
    }

</style>
<div id="book_menu">
    <div class="book-menu-header">
        <a href="/book/detail?id=${(book.id)?c}&aId=${(book.aId)!}" class="btn-back fa fa-chevron-left col-xs-3 loading"></a>
        <#if (book.aId)??>
            <a href="/book/source?aId=${(book.aId)!}" class="col-xs-3 pull-right text-right">
                <i class="fa fa-cog"></i>
            </a>
        </#if>
    </div>
    <div class="book-menu-footer">
        <div class="col-xs-3">
            <i class="fa fa-font" id="btn_book_menu_font_setup book-menu"></i>
        </div>
        <div class="col-xs-3 pull-right text-right">
            <i class="fa fa-list-ul" id="btn_book_menu_font_chapters"></i>
        </div>
    </div>
</div>