<style>

    .book-menu-header {
        background-color: black;
        z-index: 99;
        position: fixed;
        height: 100px;
        top: 0;
        width: 100%;
        color: #DDDDDD;
        line-height: 40px;
        height: 40px;
        font-size: 20px;
        left:0;
    }

    .book-menu-footer {
        background-color: black;
        color: #DDDDDD;
        z-index: 99;
        position: fixed;
        height: 100px;
        bottom: 0;
        width: 100%;
        font-size: 20px;
        line-height: 40px;
        height: 40px;
        left:0;
    }

    #book_menu {
        display: none;
    }

</style>
<div id="book_menu">
    <div class="book-menu-header">
        <div class="col-xs-3">
            <a href="/book/index" style="color: #DDDDDD;" class="fa fa-chevron-left a-style loading"></a>
        </div>
        <div class="col-xs-3 pull-right text-right">
            <i class="fa fa-cog"></i>
        </div>
    </div>
    <div class="book-menu-footer">
        <div class="col-xs-3">
            <i class="fa fa-font" id="btn_book_menu_font_setup book-menu"></i>
        </div>
        <div class="col-xs-3 pull-right text-right">
            <i class="fa fa-list-ul" id="btn_book_menu_font_chapters"></i>
        </div>
    </div>
</div>