<div class="col-sm-9 col-md-9 col-lg-9">
    <#if (((pageBean.list)??) && (((pageBean.list)?size) > 0))>
        <#list pageBean.list as article>
            <div class="panel panel-default">
                <div class="panel-heading"><a href="">${article.title}</a></div>
                <div class="panel-body">
                    ${article.context}
                </div>
            </div>
        </#list>
    </#if>
    <#if (pageBean.totalCount > 0)>
        <nav aria-label="...">
            <ul class="pager">
                <li class="previous <#if (pageBean.pageCurrent == 1)>disabled</#if>"><a href="/${pageBean.pageCurrent - 1}"><i class="fa fa-angle-double-left"></i> 上一页</a></li>
                <li class="next <#if (pageBean.pageTotal <= pageBean.pageCurrent)>disabled</#if>"><a href="/${pageBean.pageCurrent + 1}">下一页 <i class="fa fa-angle-double-right"></i></a></li>
            </ul>
        </nav>
    </#if>
</div>