<style>
    .book-shelf-content {
        text-align: center;
        width: 300px;
        margin: 0 auto;
    }
    .book-shelf-books {
        width: 80px;
        height: 120px;
        border: 1px solid #DDD;
        line-height: 202px;
        overflow: hidden;
        float: left;
        margin: 20px 10px;
        position: relative;
    }
    .book-shelf-books p {
        color: #888;
        font-weight: 400;
        overflow: hidden;
    }
    .book-shelf-face-pic {
        width: 80px;
        height: 120px;
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
<div class="book-shelf-content">
    <#if (((pageBean.list)??) && (((pageBean.list)?size) > 0))>
        <#list pageBean.list as book>
                <div class="book-shelf-books" data-bookid="${(book.id)?c}">
                    <#if book.faceUrl ??>
                        <img src="${(book.faceUrl)!}" class="book-shelf-face-pic">
                    <#else>
                        <img src="/images/tools/book/face_pic.png" class="book-shelf-face-pic">
                    </#if>
                        <p>${(book.name)!}</p>
                </div>
        </#list>
    </#if>
</div>

<script>
    $(function () {
        $('.book-shelf-books').on('tap', function () {
            var bookId = $(this).data('bookid');
            var url = "/book/chapter?bookId=" + bookId;

            var storage = window.localStorage;
            var readingConfig = storage.getItem(bookId);

            console.log(readingConfig);
            if (readingConfig) {
                url += "&lastReadingChapter=" + readingConfig.lastReadingChapter;
                url += "&lastReadingChapterLink=" + readingConfig.lastReadingChapterLink;
            }
            console.log('url',url);
            location.href = url;
        });
    });
</script>