
<style>
    .book-common-header {
        height: 44px;
        line-height: 44px;
        background-color: black;
        padding-left: 20px;
        margin-bottom: 10px;
        color: #DDDDDD;
    }
    .book-common-header a, .book-common-header a:hover{
        text-decoration: none;
        color: #DDDDDD;
    }
</style>

<div class="book-common-header">
    <div class="col-xs-3 pull-right text-right btn-book-shelf-setup">
        <i class="fa fa-cog"></i>
    </div>
</div>

<#include "/tools/book/layout/book/book_shelf_setup.html"/>
<script>
    $(function () {
        $('.btn-book-shelf-setup').on('click', function () {
            window.localStorage['last_link'] = '/book/index';

            $('.book-shelf-setup-page').removeClass('hide');
        })
    });
</script>